In [1]:
import pandas as pd
import os

csv_path = '/Users/sarabi/Desktop/Class/UCBBEL201811DATA2/03-Python/Homework 3 Python/Instructions/PyBank/Resources/budget_data.csv'

read_csv = pd.read_csv(csv_path)

read_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [2]:
read_csv.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [11]:
read_csv.shape

(86, 2)

In [7]:
unique_dates = read_csv['Date'].nunique()
print(f"There are {unique_dates} months included in the dataset")

There are 86 months included in the dataset

In [10]:
Total = read_csv['Profit/Losses'].sum()
print (Total)
print(f"Total net amount of Profit/Losses over the entire periodis ${Total}.")

38382578
Total net amount of Profit/Losses over the entire periodis $38382578.

In [14]:
Average = read_csv['Profit/Losses'].mean()
print(Average)

446309.0465116279

In [19]:
date_as_index = read_csv.set_index('Date')

In [20]:
pL_delta = date_as_index.diff(periods=-1)

In [23]:
mean_of_pL = pL_delta.mean()

In [ ]:
print(f"Average change in Profit/Losses between months over the entire period is {mean_of_pL}")"